@charset "UTF-8";

html,
body {
    padding: 0;
    margin: 0;
    background-color: #f8f9fa;
}

#searchresult {
    width: 768px;
    margin-top: 5.6rem;
    margin-left: auto;
    margin-right: auto;
}

.postNo {
    float: left;
    padding: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    /* margin: 100; */
    /* 잘못된 속성이라 제거됨 */
    width: 768px;
    height: 450px;
    background-color: #ffffff;
    border-width: 12px;
    border-color: #f8f9fa;
    border-style: solid;
    box-shadow: 10px 5px 5px rgb(194, 194, 194);
    position: relative;
}

.search-results {
    margin-top: 2.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.createdate {
    position: absolute;
    bottom: 30px;
    width: 100%;
    padding-top: 100px;
}

.writer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 10px;
}

.writer::before {
    content: '';
    display: block;
    width: 95%;
    height: 2px;
    background-color: #c0dde9;
    margin-top: 10px;
    /* margin: left; */
    /* 잘못된 속성이라 제거됨 */
    margin-left: auto;
    /* 수정됨 */
    margin-right: auto;
    /* 수정됨 */
}

.thumbnail {
    width: 256px;
    height: 206px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}