<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="logProject.logs.Mapper.LogsMapper">
  <insert id="insertPost" parameterType="logPoject.logs.DTO.LogsDTO">
    insert into post(postName, postContent, userNickname, userPW, postIMG) values (#{postName}, #{postContent}, #{userNickname}, #{userPW}, #{postIMG})
  </insert>
   <select id="getAllPosts" resultType="logPoject.logs.DTO.LogsDTO">
    SELECT postNo, postName, postContent, userNickname, postIMG,
    FROM post
  </select>
  <select id="getNos" resultType="logPoject.logs.DTO.LogsDTO">
    SELECT postNo, postName, postContent, userNickname, postIMG
    FROM  post 
    where postNo = #{postNo}
  </select>
  <select id="getClist" resultType="logPoject.logs.DTO.LogsDTO">
    SELECT postNo, comentContent, comentCreateDate, comentNickname, comentPW, comentNo, cocomentNo, comentDepth
    FROM coment
  </select>
</mapper>