<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="logProject.logs.Mapper.LogsMapper">
  <insert id="insertPost" parameterType="logPoject.logs.DTO.LogsDTO">
    insert into post(postName, postContent, userNickname, userPW) values (#{postName}, #{postContent}, #{userNickname}, #{userPW})
  </insert>
   <select id="getAllPosts" resultType="logPoject.logs.DTO.LogsDTO">
    SELECT postName, postContent, userNickname
    FROM post
  </select>
</mapper>